.categories {

  nav {
    background-color: #ededed;
    padding: 20px;

    button {
      background-color: #29C988;
      color: white;
      font-weight: bold;
    }
    &:hover{
      color: white;
    }

    .btn-cart {
      bottom: 68px;
      position: relative;

      border: 2px solid white;
      cursor: pointer;
      background-color: white;
      border-radius: 2px;
      p {
        color: white;
        top: 0;
        line-height: 17px;
      }

      .subtotal {
        float: left;
        background-color: #29C988;
        padding: 0 30px;
        text-align: left;
        .small-font {
          font-size: 8pt;
        }
      }

      .totalitems {
        float: right;
        text-align: left;
        padding: 0 10px;
        p {
          top: 10px;
          position: relative;
          text-align: center;
          color: black;
        }
      }
    }
  }

  nav#cart {
    color: black;
  }

  #buy {
    color: black;
    position: absolute;
    width: 90%;
    text-align: center;

    h4 {
      text-align: left;
    }

    .btn-group {
      width: 100%;

      button {
        width: 100%;
      }
    }

    p {
      text-align: center;
      font-weight: bold;
    }

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
    }
  }

  p {
    margin: 0 auto;
    padding: 0;
  }

  .form-search {
    position: relative;
    left: 11%;
  }

  .list {
    text-align: center;
    padding: 10px 0;

    .card {
      border-bottom: 1px solid #c8c8c8;
      padding: 0;
      margin-bottom: 5px;
      height: 200px;

      button {
        font-weight: bold;
      }
    }

  }
}
